<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>nav</title>

</head>

<body class="nav-fixed">
    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-dark bg-dark"
        id="sidenavAccordion">
        <!-- Sidenav Toggle Button-->
        <button type="button" aria-label="burger"
            class="btn btn-icon  order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><em
                data-feather="menu"></em></button>

        <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="e_menu.php">Grissy</a>

        <ul class="navbar-nav align-items-center ms-auto">

            <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                <a aria-label="dropdown" class="btn btn-icon btn-transparent-dark dropdown-toggle"
                    id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img alt="" id="foto1U" class="avatar-img img-fluid"
                        src="../assets/img/ES_121355.gif" /></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                    aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                        <img alt="" class="dropdown-user-img" id="foto2U" src="../assets/img/ES_121355.gif" />
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name"><span id="usuario1U"></span></div>
                            <div class="dropdown-user-details-email"><span id="correosU"></span></div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <ul class="navbar-nav dropdown ms-auto ms-md-0 me-3 me-lg-4">
                        <li> <a class="dropdown-item" href="e_perfil.php">
                                <div class="dropdown-item-icon"><em data-feather="user"></em></div>
                                Perfil
                            </a></li>
                        <li><a class="configuracion dropdown-item" href="e_permisos.php">
                                <div class="dropdown-item-icon"><em data-feather="settings"></em></div>
                                Configuracion
                            </a></li>
                        <li><a class="dropdown-item" href="e_login.html" onclick="nav.cerrarSeccion();">
                                <div class="dropdown-item-icon"><em data-feather="log-out"></em></div>
                                Cerrar Sección
                            </a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>

</body>
<script src="scripts/nav.js"></script>

</html>