<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sidevar</title>

</head>

<body class="nav-fixed">

    <nav class="sidenav shadow-right sidenav-dark">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading ">Principal</div>
                <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                    <li class=""><a class="nav-link" href="e_menu.php">
                            <div class="nav-link-icon"><em data-feather="grid"></em></div>
                            Menu Principal
                        </a></li>
                </ul>

                <div class="sidenav-menu-heading">Administracion</div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                    data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="nav-link-icon"><em data-feather="layout"></em></div>
                    Mantenedores
                    <div class="sidenav-collapse-arrow"><em class="fas fa-angle-down"></em></div>
                </a>
                <div class="collapse" id="collapsePages" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                        <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                            <li class=""><a class="area nav-link" href="e_area.php">Area</a></li>
                            <li class=""><a class="cargo nav-link" href="e_cargo.php">Cargo</a></li>
                            <li class=""><a class="tipoCambio nav-link" href="e_tipoCambio.php">Tipo Cambio</a></li>
                            <li class=""><a class="tipoOperacion nav-link" href="e_tipoOperacion.php">Tipo Operación</a></li>
                            <li class=""><a class="nav-link collapsed" href="javascript:void(0);"
                                    data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Producto
                                    <div class="sidenav-collapse-arrow"><em class="fas fa-angle-down"></em></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError"
                                    data-bs-parent="#accordionSidenavPagesMenu">
                                    <nav class="sidenav-menu-nested nav">
                                        <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                                            <li class=""><a class="producto_general nav-link"
                                                    href="e_productoGeneral.php">Productos</a>
                                            </li>
                                            <li class=""><a class="producto nav-link"
                                                    href="e_productoEmpresa.php">Productos
                                                    Bienes</a></li>
                                            <li class=""><a class="producto nav-link"
                                                    href="e_productoServicios.php">Productos
                                                    Servicios</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                    data-bs-target="#collapseApps" aria-expanded="false" aria-controls="collapseApps">
                    <div class="nav-link-icon"><em data-feather="user"></em></div>
                    Usuarios
                    <div class="sidenav-collapse-arrow"><em class="fas fa-angle-down"></em></div>
                </a>
                <div class="collapse" id="collapseApps" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAppsMenu">
                        <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                            <li class=""><a class="cliente nav-link" href="e_cliente.php">Cliente</a></li>
                            <li class=""><a class="nav-link collapsed" href="javascript:void(0);"
                                    data-bs-toggle="collapse" data-bs-target="#pagesCollapsePersonal"
                                    aria-expanded="false" aria-controls="pagesCollapsePersonal">
                                    Personal
                                    <div class="sidenav-collapse-arrow"><em class="fas fa-angle-down"></em></div>
                                </a>
                                <div class="collapse" id="pagesCollapsePersonal"
                                    data-bs-parent="#accordionSidenavPagesMenu">
                                    <nav class="sidenav-menu-nested nav">
                                        <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                                            <li class=""><a class="producto_general nav-link"
                                                    href="e_personal.php">Personal</a>
                                            </li>
                                            <li class=""><a class="producto nav-link" href="e_salarioEmpleado.php">
                                                    Registro de Sueldo</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </li>
                            <li class=""><a class="proveedor nav-link" href="e_proveedor.php">Proveedor</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="sidenav-menu-heading">Gestor</div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                    data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="nav-link-icon"><em class="fa-solid fa-cart-shopping"></em></div>
                    Venta
                    <div class="sidenav-collapse-arrow"><em class="fas fa-angle-down"></em></div>
                </a>
                <div class="collapse" id="collapseLayouts" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavLayout">
                        <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                            <li class=""><a class="venta nav-link" href="e_venta.php">Realizar Venta</a></li>
                            <li class=""><a class="venta nav-link" href="e_seguimiento_venta.php">Seguimiento</a></li>
                        </ul>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                    data-bs-target="#collapseComponents" aria-expanded="false" aria-controls="collapseComponents">
                    <div class="nav-link-icon"><em data-feather="package"></em></div>
                    Ordenes
                    <div class="sidenav-collapse-arrow"><em class="fas fa-angle-down"></em></div>
                </a>
                <div class="collapse" id="collapseComponents" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav">
                        <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                            <li class=""><a class="compra nav-link" href="e_ordenCompra.php">Orden de Compra</a></li>
                            <li class=""><a class="compra nav-link" href="e_ordenServicio.php">Orden de Servicios</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="sidenav-menu-heading">Regulaciones</div>
                <a class="nav-link" href="e_IngresoCaja.php">
                    <div class="nav-link-icon"><em class="fa-sharp fa-solid fa-cash-register"></em></div>
                    Ingreso de Caja
                </a>
                <a class="nav-link" href="e_PrecioProducto.php">
                    <div class="nav-link-icon"><em class="fa-sharp fa-solid fa-cash-register"></em></div>
                    Precio Producto
                </a>
                <a class="nav-link" href="e_OperacionesExternas.php">
                    <div class="nav-link-icon"><em class="fa-sharp fa-solid fa-cash-register"></em></div>
                    Registro de Operaciones Externas
                </a>
                <div class="sidenav-menu-heading">Revelación</div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                    data-bs-target="#collapseContable" aria-expanded="false" aria-controls="collapseContable">
                    <div class="nav-link-icon"><em data-feather="user"></em></div>
                    Sector Contable
                    <div class="sidenav-collapse-arrow"><em class="fas fa-angle-down"></em></div>
                </a>
                <div class="collapse" id="collapseContable" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAppsContable">
                        <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                            <li class=""><a class="cliente nav-link" href="eC_ingresosYegresos.php">Estado Resultado</a></li>
                            <li class=""><a class="cliente nav-link" href="eC_libroDiario.php">Asiento Contable</a></li>
                            <li class=""><a class="cliente nav-link" href="eC_balanceGeneral.php">Balance General</a></li>
                        </ul>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                    data-bs-target="#collapseContable2" aria-expanded="false" aria-controls="collapseContable2">
                    <div class="nav-link-icon"><em data-feather="user"></em></div>
                    Reporte
                    <div class="sidenav-collapse-arrow"><em class="fas fa-angle-down"></em></div>
                </a>

                <div class="collapse" id="collapseContable2" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAppsContable2">
                        <ul class="navbar-nav ms-auto ms-md-3 me-3 me-lg-4">
                            <li class=""><a class="cliente nav-link" href="eR_EntradaSalida.php">Movimientos del
                                    Stock</a></li>
                            <li class=""><a class="cliente nav-link" href="eR_Venta.php">Movimientos de la Ventas</a>
                            </li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
        <!-- Sidenav Footer-->
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>
                <div class="sidenav-footer-title"><span id="usuario2U"></span></div>
            </div>
        </div>
    </nav>

</body>

</html>