<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="../assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="../assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">

    
    <title>Grissy</title>

</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i
                            class="lnr lnr-arrow-left-circle"></i></button>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="./menu.html" >
                                <i class="lnr lnr-home"></i>
                                <span>Menu</span></a>
                        </li>
                        <li>
                            <a href="#administracion" data-toggle="collapse" class="collapsed">
                                <i class="lnr lnr-file-empty"></i>
                                <span>Administracion</span>
                                <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="administracion" class="collapse ">
                                <ul class="nav">
                                    <li><a href="./personal.html" class="">Personal</a></li>
                                    <li><a href="./producto.html" class="">Producto</a></li>
                                    <li><a href="./cliente.html" class="">Cliente</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#gestor" data-toggle="collapse" class="collapsed">
                                <i class="lnr lnr-file-empty"></i>
                                <span>Gestor</span>
                                <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="gestor" class="collapse ">
                                <ul class="nav">
                                    <li><a href="./compra.html" class="">Compra</a></li>
                                    <li><a href="./venta.html" class="">Venta</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#almacen" data-toggle="collapse" class="collapsed">
                                <i class="lnr lnr-file-empty"></i>
                                <span>Almacen</span>
                                <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="almacen" class="collapse ">
                                <ul class="nav">
                                    <li><a href="./ingresos.html" class="">Ingresos</a></li>
                                    <li><a href="./salidad.html" class="">Salidas</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#reporte" data-toggle="collapse" class="collapsed">
                                <i class="lnr lnr-file-empty">
                                </i> <span>Notifications</span>
                                <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="reporte" class="collapse ">
                                <ul class="nav">
                                    <li><a href="#" class="">Profile</a></li>
                                    <li><a href="#" class="">Login</a></li>
                                    <li><a href="#" class="">Lockscreen</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">

            <!-- MAIN CONTENT -->
            <div class="main-content">


                <div class="container-fluid">

                    <p>PERSONAL</p>

                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid text-center">
                <p>Moda & Diseño del Perú @2022</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="../assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="../assets/scripts/klorofil-common.js"></script>
    <!--jquery-->
    <script></script>
</body>

</html>