<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/vendors/toastify/toastify.css">

    <!-- <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>

    <title>Grissy</title>


    <style>
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {

            -webkit-appearance: none;
            margin: 0;
        }

    </style>

</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <img src="assets/images/logo/logo.png" alt="Logo">
                        </div>
                        <div class="toggler">
                            <a aria-label="sidebar-hides" href="#" class="sidebar-hide d-xl-none d-block"><i
                                    class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-item  ">
                            <a href="menu.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Menu</span>
                            </a>
                        </li>

                        <li class="sidebar-item active has-sub">
                            <a href="" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Administracion</span>
                            </a>
                            <ul class="submenu active">
                                <li class="personal submenu-item ">
                                    <a href="personal.html">Personal</a>
                                </li>
                                <li class="producto submenu-item active">
                                    <a href="producto.html">Producto</a>
                                </li>
                                <li class="cliente submenu-item ">
                                    <a href="cliente.html">Cliente</a>
                                </li>
                                <li class="area submenu-item">
                                    <a href="area.html">Area</a>
                                </li>
                                <li class="proveedor submenu-item">
                                    <a href="proveedor.html">Proveedor</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="" class='sidebar-link'>
                                <i class="bi bi-pentagon-fill"></i>
                                <span>Gestor</span>
                            </a>
                            <ul class="submenu ">
                                <li class="venta submenu-item ">
                                    <a href="venta.html">Venta</a>
                                </li>
                                <li class="compra submenu-item ">
                                    <a href="compra.html">Compra</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="" class='sidebar-link'>
                                <i class="bi bi-egg-fill"></i>
                                <span>Almacen</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="">En proceso </a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="">En proceso </a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="">En proceso </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="" class='sidebar-link'>
                                <i class="bi bi-bar-chart-fill"></i>
                                <span>Reporte</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="">En proceso</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="">En proceso</a>
                                </li>
                            </ul>
                        </li>
                        <li class="configuracion sidebar-item  has-sub">
                            <a href="" class='sidebar-link'>
                                <span class="fa-fw select-all fas"></span>
                                <span>Configuraciones</span>
                            </a>
                            <ul class="submenu ">
                                <li class="configuracion submenu-item ">
                                    <a href="permisos.html">Permisos</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <button class="sidebar-toggler btn x" type="button" aria-labelledby="sidebar"><i
                        data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a aria-label="btn-burge" href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Productos</h3>
                            <p class="text-subtitle text-muted">Lista general de los Productos</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item " aria-current="page">Administracion</li>
                                    <li class="breadcrumb-item active" aria-current="page"><a
                                            href="producto.html">Producto</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Basic Tables start -->
                <section class="section">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-9 col-md-9 order-md-1 order-last">
                                    <button class="btn btn-outline-success" data-bs-toggle="modal" type="button"
                                        onclick="producto.en_guardar()" data-bs-target="#agregarProducto"><span
                                            class="fa-fw select-all fas"></span>
                                        Agregar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped" id="example" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>precio</th>
                                        <th>Talla</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </section>
                <!-- Basic Tables end -->
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Grissy</p>
                    </div>
                    <div class="float-end">
                        <p>Moda & Diseño del Perú <span class="text-danger"></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--AGREGAR PRODUCTO EN UN MODAL-->
    <div class="modal fade text-left" id="agregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
        data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel1">Producto</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="codigo">Codigo*</label>
                                <input type="text" id="codigo" class="form-control " placeholder="Codigo">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="nombre">Nombre*</label>
                                <input type="text" id="nombre" class="form-control " placeholder="Nombre">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="talla">Talla</label>
                                <input type="text" id="talla" class="form-control " placeholder="Talla">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cantidad">Cantidad*</label>
                                <input type="text" id="cantidad" class="form-control " placeholder="Cantidad">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="precio">Precio*</label>
                                <input type="text" id="precio" class="form-control " placeholder="Precio">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="idarea">Area</label>
                                <select class="form-control form-select" id="idarea">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn btn-outline-danger " data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Cancelar</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" id="editar"
                        onclick="producto.editarProducto();">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Editar</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary"  id="guardar"
                        onclick="producto.guardarProducto();">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/fontawesome/js/all.min.js"></script>
    <script src="assets/js/mazer.js"></script>
    <script src="assets/vendors/toastify/toastify.js"></script>

</body>
<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js">
</script>
<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js">
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>



<script src="scripts/producto.js"></script>
<script src="scripts/permisos.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        const storedToDos = localStorage.getItem("empleado");
        const obj = JSON.parse(storedToDos);

        producto.obtenerListaProductos();
        producto.obtenerListaArea();

        permisos.configurarAcceso(obj.codigo);
    });

</script>

</html>