<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/vendors/jquery-datatables/jquery.dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <!-- <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon"> -->
    <title>Grissy</title>

</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <img src="assets/images/logo/logo.png" alt="Logo">
                        </div>
                        <div class="toggler">
                            <a aria-label="sidebar-hides" href="#" class="sidebar-hide d-xl-none d-block"><i
                                    class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-item  ">
                            <a href="menu.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Menu</span>
                            </a>
                        </li>

                        <li class="sidebar-item active has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Administracion</span>
                            </a>
                            <ul class="submenu active">
                                <li class="submenu-item ">
                                    <a href="personal.html">Personal</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="producto.html">Producto</a>
                                </li>
                                <li class="submenu-item active">
                                    <a href="cliente.html">Cliente</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="area.html">Area</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-pentagon-fill"></i>
                                <span>Gestor</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="ui-widgets-chatbox.html">Chatbox</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-widgets-pricing.html">Pricing</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-widgets-todolist.html">To-do List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-egg-fill"></i>
                                <span>Almacen</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="ui-icons-bootstrap-icons.html">Bootstrap Icons </a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-icons-fontawesome.html">Fontawesome</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-icons-dripicons.html">Dripicons</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-bar-chart-fill"></i>
                                <span>Reporte</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="ui-chart-chartjs.html">ChartJS</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-chart-apexcharts.html">Apexcharts</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <button class="sidebar-toggler btn x" type="button" aria-labelledby="sidebar"><i
                        data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a aria-label="btn-burge" href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Clientes</h3>
                            <p class="text-subtitle text-muted">Lista general de los clientes</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item " aria-current="page">Administracion</li>
                                    <li class="breadcrumb-item active" aria-current="page"><a
                                            href="cliente.html">Cliente</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Basic Tables start -->
                <section class="section">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-9 col-md-9 order-md-1 order-last">
                                    <button class="btn btn-outline-success" data-bs-toggle="modal" type="button"
                                        onclick="cliente.en_guardar()" data-bs-target="#agregarCliente"><span
                                            class="fa-fw select-all fas"></span>
                                        Agregar</button>
                                </div>
                                <div class="col-3 col-md-3 order-md-1 order-last">
                                    <div class="input-group">
                                        <span class="input-group-text">Buscar</span>
                                        <input type="text" class="form-control" id="documento"
                                            aria-describedby="buscardocumento" aria-label="buscar"
                                            oninput="cliente.buscarPorDocumentoIdentidad()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table " id="table1">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Doc. Identidad</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Fecha Registro</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="lst-cliente">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>

                <!-- Basic Tables end -->
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Grissy</p>
                    </div>
                    <div class="float-end">
                        <p>Moda & Diseño del Perú <span class="text-danger"></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> -->
    <!--AGREGAR AREA EN UN MODAL-->
    <div class="modal fade text-left" id="agregarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
        data-bs-backdrop="stactic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel1">Cliente</h5>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="esDocumento" id="dni" value="dni"
                                onclick="cliente.oninputDni_Ruc()" checked>
                            <label class="form-check-label" for="dni"> DNI </label>

                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="esDocumento" id="ruc" value="ruc"
                                onclick="cliente.oninputDni_Ruc()">
                            <label class="form-check-label" for="ruc"> RUC </label>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="codigo">Codigo</label>
                                <input type="text" id="codigo" class="form-control " placeholder="Codigo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="docIdentidad">Doc Identidad</label>
                                <input type="number" id="docIdentidad" class="form-control " placeholder="Doc Identidad"
                                    onchange="">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label></label>
                                <button type="button" class="form-control"
                                    onclick="cliente.consultarDocIdentidad()">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" class="form-control " placeholder="Nombre">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="apellidoPaterno">Apellido Paterno</label>
                                <input type="text" id="apellidoPaterno" class="form-control "
                                    placeholder="Apellido Paterno">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="apellidoMaterno">Apellido Materno</label>
                                <input type="text" id="apellidoMaterno" class="form-control "
                                    placeholder="ApellidoMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estadoSunat">Estado Sunat</label>
                                <input type="text" id="estadoSunat" class="form-control " placeholder="Estado Sunat"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="condicionSunat">Condicion Sunat</label>
                                <input type="text" id="condicionSunat" class="form-control "
                                    placeholder="Condicion Sunat" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="telefono">Telefono</label>
                                <input type="number" id="telefono" class="form-control " placeholder="Telefono">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="direccion">Direccion</label>
                                <input type="text" id="direccion" class="form-control " placeholder="Direccion">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn btn-outline-danger" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Cancelar</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" id="editar"
                        onclick="cliente.editarCliente()">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Editar</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" id="guardar"
                        onclick="cliente.guardarCliente()">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/fontawesome/js/all.min.js"></script>
    <script src="assets/js/mazer.js"></script>
</body>
<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="scripts/proveedor.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        proveedor.obtenerListaCliente();
        provvedor.getElementById("codigo").disabled = true;
    });
</script>


</html>