<footer>
  <div class="footer-limiter">

    <div class="footer-right">

      <a title="facebook" href="https://facebook.com/grissysiempremoda"><i class="pi pi-facebook"></i></a>
      <a title="twitter"  href="#"><i class="pi pi-twitter"></i></a>
      <a title="linkedin"  href="#"><i class="pi pi-linkedin"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">Grissy - Siempre Moda</p>

      <p>Moda y Diseño del Perú SAC © {{this.year}}</p>
    </div>

  </div>
</footer>
<!-- <div class="container">
    <div class="nav  justify-content-center" >
      <p>Grissy © 2022 Moda y diseño del Perú SAC.</p>
    </div>
    <mat-divider></mat-divider>

    <div class="col-lg-12 my-2" >
      <ul class="nav  justify-content-center">
        <li class="nav-item"><a class="nav-link active" title="picebook" href="https://web.picebook.com/grissysiempremoda"><i class="pi pi-picebook"></i></a>
        </li>
        <li class="nav-item"><a class="nav-link active" title="twitter" href="#"><i class="pi pi-twitter"></i></a></li>
        <li class="nav-item"><a class="nav-link active" title="instagram" href="#"><i class="pi pi-instagram"></i></a></li>
      </ul>
    </div>
  </div> -->


<!-- <div class="footer">
  <div class="col-lg-12">
    <div class="under-footer">
      <div>
        <p>Grissy © 2022 Mpda y diseño del Perú SAC.</p>
      </div>
      <div>

        <ul>
          <li><a title="picebook" href="https://web.picebook.com/grissysiempremoda"><i class="pi pi-picebook"></i></a>
          </li>
          <li><a href="#"><i class="pi pi-twitter"></i></a></li>
          <li><a href="#"><i class="pi pi-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
