

:host ::ng-deep.p-toolbar{
  padding: 0rem !important;
  border-radius: 0px !important;
  position: fixed;
  width: 100%;
  z-index: 2;

}

:host ::ng-deep button {
  margin-right: .25em;
}


:host ::ng-deep.p-panelmenu .p-panelmenu-header > a{
  padding: .8rem !important;
}


:host ::ng-deep.p-menubar {
  border: 0px ;
  border-radius: 0px;
}


:host ::ng-deep.p-menuitem-text {
  font-size: 13px !important;
}
